 Glossary :                                                        
 ----------                                                        
"Serial number": Serial number of the email you sent.              
"Packaging type": Packaging type of the email you sent.
"IP address": IP address at which your email was opened.           
"Subject": Email's subject line.                                   
"INTACT": The subject field is identical to the one in your email. 
"CHANGED": The subject field does not match the one in your email. 

[%
# Local variables:
# buffer-coding-system: iso-8859-15
# end: 
%]