Glossaire :                                                        
-----------                                                        
"Numéro de série": Le numéro de série du courriel envoyé.              
"Service Kryptiva": Le service sélectionné par l'expéditeur.
"Address IP": Adresse IP à laquelle le courriel a été ouvert.           
"Sujet": Le sujet du courriel qui a été lu.                                   
"INTACT": Le sujet du courriel reçu est identique au sujet du courriel envoyé. 
"CHANGÉ": Le sujet du courriel reçu diffère du sujet du courriel envoyé. 

[%
# Local variables:
# buffer-coding-system: iso-8859-15
# end: 
%]