[% INCLUDE fr_pod_part.tmpl %]

[% INCLUDE en_pod_part.tmpl %]

======================================================================
[% INCLUDE en_glossary.tmpl %]

[% INCLUDE fr_glossary.tmpl %]
======================================================================

[%
# Local variables:
# buffer-coding-system: iso-8859-15
# end: 
%]