Source: libteambox-knp-perl
Section: perl
Priority: optional
Maintainer: 
Build-Depends: debhelper (>= 4.0.0)
Build-Depends-Indep: perl (>=5.8) 
Standards-Version: 3.6.2

Package: libteambox-knp-perl
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, libio-socket-ssl-perl, libdata-buffer-perl, libtemplate-perl, libmail-sender-perl
Description: Blarg!
 Blarg
